*{
    margin: 0;
    padding: 0;
}



img {
    width: 100px
    }
    body {
        background-image: url("s22-3995-fine-scaled-e1667592920852.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    
    }
    .cabecalho{
       background-color: rgb(255, 127, 159);
       padding: 50px;
       width: 60%;
       border-style: groove;
       border-color: rgb(255, 0, 119);
    }
    p {
        font-size: 30px;