*{
    margin: 0;
    padding: 0;
}


    .cabecalho{
       background-color: rgb(255, 127, 159);
       padding: 50px;
       width: 60%;
       border-style: groove;
       border-color: rgb(255, 0, 119);
    }
    p {
        font-size: 30px;}
        .aninha{
            right: 0%;
        }